body{
    background-image: url(../.././images/stars.png);
}
* {
    font-family: "future";
    color: white;
}

@font-face {
    font-family: "future";
    src: url(../../BMarmy.TTF);
}
nav{
    a{
        color: white;
        text-decoration: none;
    }
}
.navEx{
    background-color: black;
    button{
        color: white;
        background-color: white;
    }
    a{
        color: white;
    }
    
}
h1{
    font-size: 4rem;
}
.sun{
    position: relative;
    height: 40rem;
    width: 40rem;
    background-size: 100%;
    background-image: url(../../images/Planet1.png);
    #me{
        width: 30rem;
        height: 30rem;
        border-radius: 50%;
        object-fit: cover;
        opacity: 1;
    }
    margin-bottom: 10rem;
}
.burger{
    background-color: transparent;
    border: 0ch;
    gap: 1rem;
    .line{
        background-color: white;
        color: white;
    height: calc(1rem);
    width: 5rem
    }
}
.about{
    font-size: 2rem;
}